.table-responsive div.form-group {
  float: right;
  width: 100%;
}

.table-responsive div.form-group div {
  float:right
}

.table-responsive div.form-group div h4 {
  margin-right: 10px;
}

.table-responsive input.form-control {
  width: 20%;
  display: inline-block;
  float: right;
}

.glyphicon {
  cursor: pointer;
}